/*body {
	background-image: url("homebackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh; 
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}*/



/*.buttons button {
    display: block;
    margin: 10px auto;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}*/

body {
  margin: 0;
  padding: 0;
  height: 100vh; /* 全螢幕 */
  display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center;     /* 垂直置中 */
  flex-direction: column;  /* 內容上下排列 */

  /* 背景圖設定 */
  background: url("homebackground.jpg") no-repeat center center;
  background-size: cover;  /* 會自動縮放填滿畫面 */
  font-family: "Microsoft JhengHei", sans-serif;
  color: white;
  text-align: center;
}

    .row {
      display: flex;
      justify-content: center;  /* 水平置中 */
      gap: 15px;                /* 按鈕間距 */
      margin-bottom: 44px;      /* 列與列之間的距離 */
	  margin-top: 80px;
    }

    /* 按鈕樣式 */
    .row button {
      flex: 1;
	  white-space: normal;   /* 允許文字換行 */
	  height: 80px; 
	  width: 115px;
      padding: 14px 0;
      cursor: pointer;
      border: none;
      border-radius: 8px;
      background: none;
      color: #4d6382;
      font-weight: bold;
      transition: background 0.3s, transform 0.2s;
	  line-height: 20px; /* 讓文字垂直置中 */
    }

    .row button:hover {
    /*  background: #4d6382; */
      transform: scale(1.05);
	  text-decoration: underline; /* 滑鼠移上去時，加底線 */
      /*color: #fff;  */           /* 可選：變深一點 */
    }
	
	.btn-large {
		font-size: 20px;   /* 大字 */
	}
	.btn-1 {
		font-size: 20px;   /* 大字 */
	}

	.btn-medium {
		font-size: 20px;   /* 中等字 */
	}














